@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.parent {
  display: flex;
  flex-direction: row;
}

.sideBar {
  width: 20%;
  height: 100vh;
}

.sideBar > button {
    display: block;
    margin-bottom: 20px;
}

.content {
  width: 80%;
  height: 100vh;
}
